.svg-common() {
	background: url("../images/sprites/spritesvg.svg") no-repeat;
}

.svg-Ellipse {
	.svg-common();
	background-position: 0 0;
}

.svg-Ellipse-dims {
	width: 22px;
	height: 26px;
}

.svg-Icon {
	.svg-common();
	background-position: 2.8645833333333335% 0;
}

.svg-Icon-dims {
	width: 28px;
	height: 25px;
}

.svg-car-black-side-silhouette {
	.svg-common();
	background-position: 6.793478260869565% 0;
}

.svg-car-black-side-silhouette-dims {
	width: 60px;
	height: 34px;
}

.svg-cleaner {
	.svg-common();
	background-position: 14.705882352941176% 0;
}

.svg-cleaner-dims {
	width: 48px;
	height: 60px;
}

.svg-daily-calendar-on-day-10-page-black-symbol {
	.svg-common();
	background-position: 21.467391304347824% 0;
}

.svg-daily-calendar-on-day-10-page-black-symbol-dims {
	width: 60px;
	height: 58px;
}

.svg-diploma {
	.svg-common();
	background-position: 29.222520107238605% 0;
}

.svg-diploma-dims {
	width: 50px;
	height: 60px;
}

.svg-mechanical-gears {
	.svg-common();
	background-position: 36.41304347826087% 0;
}

.svg-mechanical-gears-dims {
	width: 60px;
	height: 58px;
}

.svg-meeting {
	.svg-common();
	background-position: 44.50474898236092% 0;
}

.svg-meeting-dims {
	width: 59px;
	height: 59px;
}

.svg-night-symbol-of-the-moon-with-a-cloud-and-stars {
	.svg-common();
	background-position: 52.58152173913044% 0;
}

.svg-night-symbol-of-the-moon-with-a-cloud-and-stars-dims {
	width: 60px;
	height: 54px;
}

.svg-nut-icon {
	.svg-common();
	background-position: 60.651289009497965% 0;
}

.svg-nut-icon-dims {
	width: 59px;
	height: 59px;
}

.svg-placeholder {
	.svg-common();
	background-position: 68.75% 0;
}

.svg-placeholder-dims {
	width: 60px;
	height: 60px;
}

.svg-signature {
	.svg-common();
	background-position: 76.28032345013477% 0;
}

.svg-signature-dims {
	width: 54px;
	height: 55px;
}

.svg-signing-the-contract {
	.svg-common();
	background-position: 84.23913043478261% 0;
}

.svg-signing-the-contract-dims {
	width: 60px;
	height: 60px;
}

.svg-tool {
	.svg-common();
	background-position: 92.26594301221166% 0;
}

.svg-tool-dims {
	width: 59px;
	height: 45px;
}

.svg-woman-with-headset {
	.svg-common();
	background-position: 100% 0;
}

.svg-woman-with-headset-dims {
	width: 57px;
	height: 57px;
}

