<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>SteelProject</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="yandex-verification" content="a4a9263a442694c1">
	<meta name="google-site-verification" content="HJkWwanngrcSiNyHo_cJFWaYuaxQPXZCf50ZPpNjV-g">
</head>
<body>
<header class="page-header">

	<div class="container">

		<div class="page-header__contacts">

			<ul>

				<li>+7 (343) 361-62-50</li>

				<li>
					<img alt="logo" src="" width="" height="">
				</li>

				<li>+7 (922) 181-62-50</li>

			</ul>

		</div>

		<div class="page-header__navigation">

			<ul>

				<li>
					<a href="">Услуги</a>
				</li>

				<li>
					<a href="">Приемущества</a>
				</li>

				<li>
					<a href="">Эконом</a>
				</li>

				<li>
					<a href="">Работы</a>
				</li>

				<li>
					<a href="">Стоимость</a>
				</li>

				<li>
					<a href="">Этапы</a>
				</li>

				<li>
					<a href="">Отзывы</a>
				</li>

				<li>
					<a href="">Ремонт</a>
				</li>

				<li>
					<a href="">Контакты</a>
				</li>

			</ul>

		</div>

		<h1 class="page-title">Ограждения любой сложности под ключ</h1>

		<span class="page-subtitle">Быстро, качественно, доступно</span>

		<a href="" class="btn">Заказать</a>

	</div>

</header>
