<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>SteelProject</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="yandex-verification" content="a4a9263a442694c1">
	<meta name="google-site-verification" content="HJkWwanngrcSiNyHo_cJFWaYuaxQPXZCf50ZPpNjV-g">
</head>
<body>
<header class="page-header">

	<div class="container">

		<div class="page-header__contacts">

			<ul>

				<li>+7 (343) 361-62-50</li>

				<li>
					<img alt="logo" src="images/img/header-logo.png" width="153" height="122">
				</li>

				<li>+7 (922) 181-62-50</li>

			</ul>

		</div>

		<div class="page-header__navigation">

			<ul>

				<li>
					<a href="#" class="nav-link">Услуги</a>
				</li>

				<li>
					<a href="#" class="nav-link">Приемущества</a>
				</li>

				<li>
					<a href="#" class="nav-link">Эконом</a>
				</li>

				<li>
					<a href="#" class="nav-link">Работы</a>
				</li>

				<li>
					<a href="#" class="nav-link">Стоимость</a>
				</li>

				<li>
					<a href="#" class="nav-link">Этапы</a>
				</li>

				<li>
					<a href="#" class="nav-link">Отзывы</a>
				</li>

				<li>
					<a href="#" class="nav-link">Ремонт</a>
				</li>

				<li>
					<a href="#" class="nav-link">Контакты</a>
				</li>

			</ul>

		</div>

		<h1 class="page-title">Ограждения любой сложности под ключ</h1>

		<span class="page-subtitle">Быстро, качественно, доступно</span>

		<a href="#" class="btn page-header__btn">Заказать</a>

	</div>

</header>
